<header>
  <div class="collapse " id="navbarHeader">
    <div class="container">
      <div class="row">
        <!-- <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div> -->
        <!-- <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-success shadow-sm">
    <!-- <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Album</strong>
        Ships within Lagos
      </a>
      <p class="navbar-brand d-flex align-items-center">
        0810 298 4114
      </p>
      <p class="navbar-brand d-flex align-items-center">
        hello@darafoods.com
    </p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div> -->
    <div class="col-sm text-white">
      <a href="#">Grannys Mall</a>
      <!-- <img src="img/logo.png" alt=""> -->
    </div>
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm text-white">
      <span class="small">0810 298 4114 | hello@grannysmall.com</span>
    </div>
  </div>
</header>


<section id="navigation">
  <div class="row mt-2">
    <div class="col-md-4">
      <ul class="nav justify-content-center">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Herbs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="culinary-herbs.html">Culinary Herbs</a>
            <a class="dropdown-item" href="medicinal-herbs.html">Medicinal Herbs</a>
            <a class="dropdown-item" href="spices.html">Spices</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vegetables
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="fruits.html">Fruits</a>
            <a class="dropdown-item" href="all-vegetables.html">All Vegetables</a>
            <a class="dropdown-item" href="naija-vegetables.html">Naija Vegetables</a>
            <a class="dropdown-item" href="#">14 Healthiest Vegetables</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Spices
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="fruits.html">Fruits</a>
            <a class="dropdown-item" href="all-vegetables.html">All Vegetables</a>
            <a class="dropdown-item" href="naija-vegetables.html">Naija Vegetables</a>
            <a class="dropdown-item" href="#">14 Healthiest Vegetables</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-5 mt-2">
      <form>
        <div class="form-group">
          <label for="search" class="sr-only">Example label</label>
          <input type="text" class="form-control" id="search" placeholder="Search for herbs, vegetables & spices">
        </div>
      </form>
    </div>
    <!--<div class="col-md-2 mt-2">
        <a href="#">Register/Log in</a>
    </div>-->
  </div>

</section>
